.text-area {
    background: transparent;
    border: 5px solid #74C8F4;
    border-radius: 30px;
    resize: none;
    font-weight: 500;
    font-size: 26px;
    padding: 40px 40px;
    padding-bottom: 32px;
}

.text-area::-webkit-scrollbar {
    overflow: hidden;
}