.counter .square {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    background: rgba(252, 195, 36, 0.5);
    border-radius: 20px;
    padding: 0;
}

.counter div span:first-child {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}

.word-counter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    margin: 6.3% 9%;
}

.scrollable-y {
    overflow-y: hidden;
}