.ScreenRecorder{
    #videoContainer{
        left: 0;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        padding-top: 30px;
        #screenVideo{
            width: 75%;
            box-shadow: 0px 0px 25px 10px #505050;
            background: #505050;
        }
    }
}